*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
header{
    
}


.header-top{
    height: 40px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: .5rem;
    padding-bottom: .5rem;
    align-items: center;
}

.header-top img{
    height: 100%;
    margin-right: 2rem;
}
.header-bottom{
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-list li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1.5rem;
}
#logo{
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 3rem;
}
#doticon{
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.downArrow{
    height: 1.25rem;
}

.navLink{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.section1{
    height: 500px;
    background-color: rgb(19, 19, 69);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f2{
    padding-bottom: 3rem;
}
.f1{
    height: 100%;
    width: 100%;
}
.section1 h1{
    font-size: 40px;
    justify-content: first baseline;
    align-items: center;
    color: white;
    text-align: center;

}
.section1 h2{
    font-size: 15px;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.red-button{
    background-color: red;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    color: white;
    border: 1px;
    border-radius: .25rem;
}
.game-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style:  none;

}
.game{
    max-width: 32%;
    margin-top: 2rem;
}
.section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game img{
    width:100%;
    height: 100%;
}

.container{
    max-width:1200px;
    width: 100%
}
.section2 h2{
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.footer{
    background-color: white;
    height: 20px;
}